<ng-container *ngIf="{
	pages: pagesStoreService.pages$ | async,
	posts: postsStoreService.posts$ | async
	} as data; else elseBlock">
	<div id="content" class="container-content">
		<div fxLayout="row wrap" fxLayoutGap="10px grid" fxLayoutAlign="start stretch">
			<div  fxFlex="1 0 100%">
				<mat-card fxFlex *ngFor="let item of data.pages.items | postFilter:getCurrentUrl()">
					<mat-card-header>
						<mat-card-title><h1>{{item.title.rendered}}</h1></mat-card-title>
					</mat-card-header>
					<img mat-card-image *ngIf="getImage(item)" src="{{getImage(item)}}" alt="{{item.title.rendered}}">
					<mat-card-content [innerHTML]="item.content.rendered | safeHtml" class="responsive-images"></mat-card-content>
				</mat-card>
				<mat-card fxFlex *ngFor="let item of data.posts.items | postFilter:getCurrentUrl()">
					<mat-card-header>
						<mat-card-title><h1>{{item.title.rendered}}</h1></mat-card-title>
					</mat-card-header>
					<img mat-card-image *ngIf="getImage(item)" src="{{getImage(item)}}" alt="{{item.title.rendered}}">
					<mat-card-content>
						<p [innerHTML]="item.content.rendered" class="responsive-images"></p>
					</mat-card-content>
				</mat-card>
			</div>

		</div>

    <section *ngIf="getCurrentUrl() === 'services'">
      <div data-tf-live="01HM2G4J7FE8K9ZD9YHFT0AHYM"></div><script src="//embed.typeform.com/next/embed.js"></script>
    </section>
	</div>
</ng-container>
<ng-template #elseBlock>
	<mat-card fxFlex>
		<mat-progress-bar mode="indeterminate"></mat-progress-bar>
	</mat-card>
</ng-template>
