<div class="jumbotron">
	<div class="container-content">
		<img width="300" alt="Gedalia Energy Healer And Ayurvedic Health Specialist" src="/assets/images/Gedalia-logo-energy-healer-ayurveda.png">
		<!-- <h1 class="mat-display-2">{{item.title.rendered}}</h1> -->
		<!-- <h3 class="mat-headline">Return to vibrant health and inner peace</h3> -->
		<div>
			<button class="mat-elevation-z8" routerLink="/blog" mat-raised-button style="margin-right:10px;">Read My Blog</button><button class="mat-elevation-z8" routerLink="/services" mat-raised-button color="primary">Get Started</button>
		</div>
	</div>
</div>
<ng-container *ngIf="{
	pages: pagesStoreService.pages$ | async
	} as data">

	<article *ngFor="let item of data.pages.items | postFilter:'home'" id="content" class="container-content">
		<mat-card>
			<mat-card-header>
				<mat-card-title><h1>{{item.title.rendered}}</h1></mat-card-title>
			</mat-card-header>
			<img mat-card-image *ngIf="getImage(item)" src="{{getImage(item)}}" alt="{{item.title.rendered}}">
			<mat-card-content [innerHTML]="item.content.rendered | safeHtml" class="responsive-images"></mat-card-content>
		</mat-card>
	</article>
	
</ng-container>