<!--The content below is only a placeholder and can be replaced.-->
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <span class="example-app-name"><a class="logo" routerLink="/home">{{ logo }}</a></span>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <span>
      <button mat-icon-button [matMenuTriggerFor]="socialMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #socialMenu="matMenu">
        <a mat-menu-item href="tel:678-357-3443"><mat-icon>call</mat-icon> 678-357-3443</a>
        <a href="https://www.facebook.com/GedaliaHealingArts/" target="_blank" mat-menu-item><mat-icon>message</mat-icon> Facebook</a>
        <a href="https://www.instagram.com/gedaliahdoc/" target="_blank" mat-menu-item><mat-icon>message</mat-icon> Instagram</a>
        <a href="https://www.pinterest.com/gedaliahdoc/" target="_blank" mat-menu-item><mat-icon>message</mat-icon> Pinterest</a>
        <a href="https://www.linkedin.com/in/gedalia-genin-79280361/" target="_blank" mat-menu-item><mat-icon>message</mat-icon> Linkedin</a>
      </mat-menu>
    </span>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav-component">
      <app-side-menu></app-side-menu>
    </mat-sidenav>
    <mat-sidenav-content>
		  <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
