<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="app-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <span class="app-name"><a class="logo" routerLink="/home">{{ logo }}</a></span>
    <!-- This fills the remaining space of the current row -->
    <span class="flex-fill-remaining-space"></span>
    <span>
      <a target="_blank" rel="nofollow" href="http://blog.gedaliahealingarts.com/sign-up-for-my-blogs/" mat-flat-button color="accent">Sign Up</a>
    </span>
    <span>
      <button mat-icon-button [matMenuTriggerFor]="socialMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #socialMenu="matMenu">
        <a mat-menu-item href="tel:678-357-3443"><mat-icon>call</mat-icon> 678-357-3443</a>
        <a href="https://www.facebook.com/GedaliaHealingArts/" target="_blank" mat-menu-item><mat-icon>message</mat-icon> Facebook</a>
        <a href="https://www.instagram.com/gedaliahealingarts/" target="_blank" mat-menu-item><mat-icon>message</mat-icon> Instagram</a>
        <a href="https://www.pinterest.com/gedaliahdoc/" target="_blank" mat-menu-item><mat-icon>message</mat-icon> Pinterest</a>
        <a href="https://www.linkedin.com/in/gedalia-genin-phd-79280361/" target="_blank" mat-menu-item><mat-icon>message</mat-icon> Linkedin</a>
        <button mat-menu-item (click)="pickColor('angular-universal-theme-dark')"><mat-icon>format_color_fill</mat-icon> Dark Theme</button>
        <button mat-menu-item (click)="pickColor('angular-universal-theme')"><mat-icon>format_color_fill</mat-icon> Light Theme</button>
      </mat-menu>
    </span>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav-component">
      <app-side-menu></app-side-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>