<div *ngIf="page?.length; else elseBlock">
	<!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
	<div class="container-content" *ngFor="let item of page">
		<!-- <div [innerHTML]="item.content.rendered"></div> -->
		<mat-card [innerHTML]="item.content.rendered"></mat-card>
	</div>
</div>
<ng-template #elseBlock><mat-progress-bar mode="indeterminate"></mat-progress-bar></ng-template>
<section class="container-content">
	<div
		*ngIf="posts?.length; else elseBlockForGrid"
		fxLayout="row wrap" fxLayoutGap="10px grid" fxLayoutAlign="space-around center"
		>
		<div fxFlex *ngFor="let post of posts">
			<mat-card fxFlex>
				<mat-card-header>
				    <!-- <div mat-card-avatar></div> -->
				    <mat-card-title>{{post.title.rendered}}</mat-card-title>
				    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
				 </mat-card-header>
				 <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
				<mat-card-content>
		    		<p [innerHTML]="post.excerpt.rendered"></p>
		  		</mat-card-content>
		  		<mat-card-actions>
				    <button mat-button routerLink="/{{post.slug}}">READ MORE</button>
				    <!-- <button mat-button>SHARE</button> -->
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</section>
<ng-template #elseBlockForGrid><mat-progress-bar mode="indeterminate"></mat-progress-bar></ng-template>