
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import '~material-design-icons/iconfont/material-icons.css';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


//http://mcg.mbitson.com awesome custom theme helper
$gedalia-blue: (
    50 : #e0f2f9,
    100 : #b3def1,
    200 : #80c9e7,
    300 : #4db3dd,
    400 : #26a2d6,
    500 : #0092cf,
    600 : #008aca,
    700 : #007fc3,
    800 : #0075bd,
    900 : #0063b2,
    A100 : #dbedff,
    A200 : #a8d3ff,
    A400 : #75b9ff,
    A700 : #5cacff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$gedalia-yellow: (
    50 : #fefcf6,
    100 : #fcf9e9,
    200 : #faf5da,
    300 : #f8f0cb,
    400 : #f7edbf,
    500 : #f5eab4,
    600 : #f4e7ad,
    700 : #f2e4a4,
    800 : #f0e19c,
    900 : #eedb8c,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
    $font-family:   'Lato, sans-serif',
    $display-4:     mat-typography-level(112px, 112px, 300),
    $display-3:     mat-typography-level(56px, 56px, 400),
    $display-2:     mat-typography-level(45px, 48px, 400),
    $display-1:     mat-typography-level(34px, 40px, 400),
    $headline:      mat-typography-level(24px, 32px, 400),
    $title:         mat-typography-level(20px, 32px, 500),
    $subheading-2:  mat-typography-level(16px, 28px, 400),
    $subheading-1:  mat-typography-level(16px, 24px, 400),
    $body-2:        mat-typography-level(16px, 24px, 500),
    $body-1:        mat-typography-level(16px, 20px, 400),
    $caption:       mat-typography-level(12px, 20px, 400),
    $button:        mat-typography-level(16px, 16px, 500),
    $input:         mat-typography-level(inherit, 1.125, 400)
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-universal-primary: mat-palette($gedalia-blue);
$angular-universal-accent: mat-palette($gedalia-yellow);

// The warn palette is optional (defaults to red).
$angular-universal-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular-universal-theme: mat-light-theme($angular-universal-primary, $angular-universal-accent, $angular-universal-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-universal-theme);

@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

@include mat-core($custom-typography);

/* You can add global styles to this file, and also import other style files */

$material-icons-codepoints: () !default; /* Sass map of icon names and codepoints */
$material-icons-font-path: '' !default;
$material-icons-font-name: 'MaterialIcons-Regular' !default;
$material-icons-font-size: 24px !default;
$material-icons-font-family: 'Material Icons' !default;

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: mat-color($angular-universal-primary, A700);

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  color: mat-color($angular-universal-primary);
  src: url(~material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(~material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(~material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(~material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

html, body, app-root { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.logo {
	color: mat-color($angular-universal-primary);
	text-decoration: none;
}

.jumbotron {
	// Use mat-color to extract individual colors a palette.
	background-color: mat-color($angular-universal-accent);
	border-color: mat-color($angular-universal-accent);
	width:100%;
	min-height: 50vh;
	text-align: center;
	padding-bottom: 30px;
	color: #fff;


  position: relative;
  canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9999;
  }
}

.gradient-backgorund {
  background: linear-gradient(-45deg, mat-color($angular-universal-accent, 50), mat-color($angular-universal-accent, 900), mat-color($angular-universal-primary, 50), mat-color($angular-universal-primary, 900));
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.responsive-images img {
    max-width: 100%;
    height:auto;
}

.container-content {
	max-width: 1800px;
	padding:20px;
	margin: 0 auto;
}

canvas {
  padding:0;
  margin:0;
}




@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}