@import 'theme.scss';
@include mat-core($custom-typography);

.mat-body, .mat-body-1, .mat-typography {
  @include mat-typography-level-to-styles($custom-typography, body-1);

  p {
    margin: 0 0 34px;
  }
}

.angular-universal-theme {
  $theme: $angular-universal-theme;
  @include angular-material-typography($custom-typography);
  @include angular-material-theme($theme);
  @include mat-theme-general-mixin($theme);
  @include mat-grid-mixin($theme);
  height: 100%;
}

.angular-universal-theme-dark {
  $theme: $angular-universal-theme-dark;
  @include angular-material-typography($custom-typography);
  @include angular-material-theme($theme);
  @include mat-theme-general-mixin($theme);
  @include mat-grid-mixin($theme);
  height: 100%;
}

html, body, { height: 100%; margin: 0; }
