@import 'theme.scss';

.angular-universal-theme {
  $theme: $angular-universal-theme;
  @include angular-material-theme($theme);
  @include mat-grid-mixin($theme);
  @include mat-toolbar-mixin($theme);
  @include mat-base-typography($custom-typography);
  @include mat-checkbox-typography($custom-typography);
  @include angular-material-typography($custom-typography);
  @include mat-core($custom-typography);

  height: 100%;

  .app-container {
    display: flex;
    flex-direction: column;

    .sidenav-container {
      /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
         causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
      flex: 1;
    }

    .is-mobile {
      .app-toolbar {
        position: fixed;
        /* Make sure the toolbar will stay on top of the content as it scrolls past. */
        z-index: 2;
      }
      .sidenav-container {
        /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
           `<body>` to be our scrolling element for mobile layouts. */
        flex: 1 0 auto;
      }
    }

    .accent-card {
      @include app-component-accent();
    }

    .primary-card {
      @include app-component-primary();
    }

    .responsive-images img {
        max-width: 100%;
        height:auto;
    }

    .container-content {
      max-width: 1200px;
      padding:10px;
      margin: 0 auto;
    }

    .jumbotron {
      // Use mat-color to extract individual colors a palette.
      @include app-component-accent();
      @include app-component-gradient();
      position: relative;
      width:100%;
      min-height: 30vh;
      text-align: center;
      padding-bottom: 30px;

      button {
        min-width: 150px;
        margin: 10px;
      }
    }

  }
}

html, body, { height: 100%; }
body { margin: 0; font-family: Raleway, "Helvetica Neue", sans-serif; }