<section class="jumbotron">
	<canvas #canvas id="canvas"></canvas>
	<div class="container-content">
		<img width="300" alt="Gedalia Logo" src="/assets/Gedalia-logo-blue-script.png">
		<h2 class="mat-display-2">energy healer/holistic intuitive</h2>
		<!-- <h3 class="mat-headline">Return to vibrant health and inner peace</h3> -->
		<button class="mat-elevation-z8" routerLink="/blog" mat-raised-button style="margin-right:10px;">Read My Blog</button><button class="mat-elevation-z8" routerLink="/services" mat-raised-button color="primary">My Services</button>
	</div>

</section>
<div *ngIf="page?.length; else elseBlock">
	<!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
	<div id="content" class="container-content">
		<div *ngFor="let item of page">
			<!-- <div [innerHTML]="item.content.rendered"></div> -->
			<mat-card [innerHTML]="item.content.rendered"></mat-card>
		</div>
	</div>
</div>
<ng-template #elseBlock><mat-progress-bar mode="indeterminate"></mat-progress-bar></ng-template>